node_modules/
public/files/*.epub
public/files/*.mobi
public/files/*.pdf
public/files/*.json
public/files/*.zip
public/history/*.json
.well-known/

settings.json
customHtmlAfterFooter.html
*.pem
