node_modules/
public/files/*.epub
public/files/*.mobi
public/files/*.pdf
public/files/*.json
public/files/*.zip
public/history/*.json
.well-known/

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

settings.json
customHtmlAfterFooter.html
*.pem
*.db
.DS_Store
