<div class="content">
  <h4>Contributed by {{contributor}}</h4>
  <div class="field is-grouped is-grouped-multiline">
    <div class="control">
      <div class="tags has-addons">
        <span class="tag">File Format</span>
        <span class="tag is-info">{{fileFormat}}</span>
      </div>
    </div>
    <div class="control">
      <div class="tags has-addons">
        <span class="tag">Added</span>
        <span class="tag is-primary">{{added}}</span>
      </div>
    </div>
    {{removedTag}}    
  </div>

  <div class="content">
    <p>{{contributor}} said:</p>
    {{summary}}
  </div>
  
</div>