<div class="book-slot {{thickness}} column is-narrow is-paddingless" id="book_{{id}}">
  <div class="book {{tallness}} modal-button" data-modal="{{id}}">
    <div class="spine" style="background:{{spineColor}}">
      <div class="text-container">
        <h2 class="title" style="color:{{textColor}}">{{title}}</h2>
        <h4 class="subtitle" style="color:{{textColor}}">{{author}}</h4>
      </div>
      <!-- div class="tags has-addons">
        <span class="tag">File Format</span>
        <span class="tag is-info">{{fileType}}</span>
      </div -->
    </div>
  </div>
  
  {{modal}}
</div>