<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}Little Library</title>
  <meta name="description" content="A digital give-a-book, take-a-book library for ebooks">

  <link rel="stylesheet" href="./css/bulma.min.css?v=1.0">
  <link rel="stylesheet" href="./css/styles.css?v=1.0">

  <script src="./js/jquery.min.js"></script>
  <script src="./js/socket.io.js"></script>
</head>

<body>
  {{message}}

  {{body}}

  {{modal}}
  <script src="./js/little-library.js"></script>
</body>

</html>