<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}{{titleSeparator}}{{siteTitle}}</title>
  <meta name="description" content="A digital give-a-book, take-a-book library for ebooks">

  <link rel="stylesheet" href="{{resourcePath}}css/bulma.min.css?v=1.0">
  <link rel="stylesheet" href="{{resourcePath}}css/styles.css?v=1.0">

  <script src="{{resourcePath}}js/jquery.min.js"></script>
  <script src="{{resourcePath}}js/socket.io.js"></script>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <div>
          <h1 class="title">{{siteTitle}}</h1>
          <div class="subtitle tags has-addons">
            <span class="tag">Current Visitors</span>
            <span class="tag is-primary" id="visitors">&hellip;</span>
          </div>
        </div>
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          View
        </a>

        <a class="navbar-item" href="/give">
          Give
        </a>

        <a class="navbar-item" href="/history">
          History
        </a>
      </div>
  
      <div class="navbar-end">
        <a class="navbar-item" href="/about">
          About
        </a>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">

      {{message}}

      {{body}}

    </div>
  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Little Library</strong> by <a href="https://robbie.antenesse.net" target="_blank">Robbie Antenesse</a> is intended
        for personal use only.
        The <a href="https://github.com/Alamantus/little-library" target="_blank">source code</a> is
        licensed <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>.
      </p>
      <p>
        Any files uploaded to the server maintain the copyright attributed to them on their original creation on a
        case-by-case basis&mdash;please review the rights of the original authors before using them.
      </p>
    </div>
  </footer>

  {{modal}}
  <script src="{{resourcePath}}js/little-library.js"></script>
</body>

</html>